@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

header {
  margin-bottom: 5em;
  position: relative;
}

h1 {
  padding: 0.5em 0;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #047582;
  mix-blend-mode: color-burn;
  font-size: 18vw;
}

header img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  font-family: 'Staatliches', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 260px;
  line-height: 1;
}